<div class="relative w-full">
  <span
    #trigger
    tabindex="0"
    type="text"
    class="block w-full h-11 py-2 px-4 cursor-pointer rounded-full border-2 border-gray-300 font-semibold text-black"
    (click)="toggle()"
    (keyup)="search($event)"
    (keydown.enter)="open()"
    (keydown.escape)="close()"
    >{{ value }}</span
  >

  <div
    [class.hidden]="!listOpen"
    class="absolute z-10 top-10 max-h-60 w-32 font-semibold bg-white border border-gray-100 shadow-transparent overflow-y-scroll"
  >
    <ul>
      <ng-container *ngFor="let option of displayedOptions">
        <li
          *ngIf="option !== value"
          tabindex="0"
          class="list-item px-2 py-1 border-b border-gray-100 cursor-pointer focus:rounded-none focus:bg-blue-600 focus:text-white focus:outline-none hover:bg-blue-600 hover:text-white"
          (click)="writeValue(option); close()"
          (keyup)="search($event)"
          (keydown.enter)="writeValue(option); close()"
          (keydown.escape)="close()"
        >
          {{ option }}
        </li>
      </ng-container>
    </ul>
  </div>
</div>
