<div class="stack gap-8">
  <div class="flex items-center justify-between gap-4 text-gray-300 text-sm">
    <div class="flex-grow border-t border-gray"></div>
    <p>
      1 <span class="underline">{{ baseCurrency }}</span> =
      {{ exchangeRateToday }} {{ counterCurrency }}
    </p>
    <div class="flex-grow border-t border-gray"></div>
  </div>

  <div class="stack items-center gap-3 font-bold">
    <p class="break-all text-md leading-none">
      {{ amount }}
      <span class="text-base font-normal">{{ baseCurrency }}</span>
    </p>
    <span class="text-md leading-none"> = </span>
    <p class="gradient-text break-all text-lg leading-none font-black">
      {{ counterCurrencyAmount }}
      <span class="text-base font-normal">
        {{ counterCurrency }}
      </span>
    </p>
  </div>

  <div class="flex items-center justify-between gap-4 text-gray-300 text-sm">
    <div class="flex-grow border-t border-gray"></div>
    <div class="flex items-center justify-center gap-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <p>{{ today }}</p>
    </div>
    <div class="flex-grow border-t border-gray"></div>
  </div>
</div>
