<div class="stack gap-8">
  <div class="flex items-center justify-between gap-4 text-gray-300 text-sm">
    <div class="flex-grow border-t border-gray"></div>
    <p>
      1 <span class="underline">{{ baseCurrency }}</span> =
      {{ exchangeRateToday }} {{ counterCurrency }}
    </p>
    <div class="flex-grow border-t border-gray"></div>
  </div>

  <div class="stack items-center gap-3 font-bold">
    <p class="break-all text-md leading-none">
      {{ amount }}
      <span class="text-base font-normal">{{ baseCurrency }}</span>
    </p>
    <span class="text-md leading-none"> = </span>
    <p class="gradient-text break-all text-lg leading-none font-black">
      {{ counterCurrencyAmount }}
      <span class="text-base font-normal">
        {{ counterCurrency }}
      </span>
    </p>
  </div>

  <div class="flex items-center justify-between gap-4 text-gray-300 text-sm">
    <div class="flex-grow border-t border-gray"></div>
    <p>{{ today }}</p>
    <div class="flex-grow border-t border-gray"></div>
  </div>
</div>
