@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    @apply bg-white;
  }
}

@layer layout {
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
